$primary-color:#fdfaf3;
$bg-footer-color:#dadfe3;
$bg-cart :#F7F7F7;
// body
.bg-main{
background-color: $primary-color;
}

//footer

.bg-footer{
    background-image: url('../Images/download.png');
    background-repeat: no-repeat;
}
.footer{
    background-color: $bg-footer-color;
    // height: 500px;
    position: relative;
    text-align: center;
    top: 10px;
}

ul{
    padding-left: 15px !important;
}
.bg-checkout-card{
    background-color: $bg-cart;
}
.fs-9{
    font-size: 14px;
}

@media (max-width: 576px) {
    .email {
        max-width: 50%; /* Adjust as needed */
    }
}


